themes {
    jetbrains-dark {
        fg "#909399"
        bg "#2E3440"
        black "#1E2022"
        red "#BF616A"
        green "#3975F1"
        yellow "#EBCB8B"
        blue "#81A1C1"
        magenta "#B48EAD"
        cyan "#88C0D0"
        white "#E5E9F0"
        orange "#D08770"
    }
}
